@model WeCook.Models.Recipes.Recipe

@{
    ViewData["Title"] = "Delete";
}

<div>
   <h3>Êtes-vous certain de vouloir supprimer votre recette "@Model.Name" ?</h3>
    <p>Cette action est <b class="text-danger">irréversible</b>. Votre recette sera définitivement supprimée de la plateforme.</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.Id">Annuler</a>
    </form>
</div>
